* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    padding: 10px;
    width: 100%;
    height: 100%;
    background: azure;
}

form input {

}

form button#send-msg-button {
    position: absolute;
    right: -57px;
    bottom: -13px;
}

form input#nickname-input {
    position: absolute;
    left: -55px;
    bottom: -13px;
}

.container {

}

.chat-bottom {
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
}

.chat-left {
    position: relative;
    width: 75%;
    height: 100%;
    left: 0;
    float: left;
    clear: right;
    border: 5px solid #c3c3c3;
}

.chat-right {
    float: right;
    position: relative;
    right: 0;
    width: 25%;
    height: 100%;
    border: 5px solid #c3c3c3;
}

#chat-content {
    position: fixed;
    width: 100%;
    height: 90%;
}

#messages-list {
    position: relative;
}

#messages {
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#users {
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#users li {
    padding: 5px 10px;
}

#users li:nth-child(odd) {
    background: #eee;
}