* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    width: 100%;
    height: 100%;
    background: azure;
    align-content: center;
}

form input {
    width: 40%;
    margin: 1%;
}

form button {
    width: 10%;
    margin: 1%;
}

form input#nickname {
    width: 20%;
    margin: 1%;
}

.container {

}

.chat-bottom {
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
}

.chat-left {
    position: relative;
    width: 75%;
    height: 100%;
    left: 0;
    float: left;
    clear: right;
    border: 5px solid #c3c3c3;
    overflow: auto;
}

.chat-right {
    float: right;
    position: relative;
    right: 0;
    width: 25%;
    height: 100%;
    border: 5px solid #c3c3c3;
    overflow: auto;
}

#chat-content {
    position: fixed;
    width: 100%;
    height: 90%;
}

#messages-list {
    position: relative;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#users {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#users li {
    padding: 5px 10px;
}

#users li:nth-child(odd) {
    background: #eee;
}